<div class="row justify-content-around">
  <div class="col-sm" style="max-width: 33%;min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/unknown.png" alt="Youssef AFEKHAR" class="ml-3 mt-3 rounded-circle" style="width:20%;">
          <h6>Responsable Ressources Humaines</h6>
          <p><small><i>Youssef AFEKHAR</i></small></p>
          <p>Email : y.afekhar@supratourstravel.com</p>
          <p>Tél : 060000000</p>
      </div>
  </div>
  <div class="col-sm" style="max-width: 33%;min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/unknown.png" alt="Ahmed ERRAMI" class="ml-3 mt-3 rounded-circle" style="width:20%;">
          <h6>Responsable Financier</h6>
          <p><small><i>Ahmed ERRAMI</i></small></p>
          <p>Email : a.errami@supratourstravel.com</p>
          <p>Tél : 0660147499</p>
      </div>
  </div>
  <div class="col-sm" style="max-width: 33%;min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/unknown.png" alt="Mohammed LAHMOUZ" class="ml-3 mt-3 rounded-circle" style="width:20%;">
          <h6>Responsable Activité Services</h6>
          <p><small><i>Mohammed LAHMOUZ</i></small></p>
          <p>Email : m.lahmouz@supratourstravel.com</p>
          <p>Tél : 060000000</p>
      </div>
  </div>
  <div class="col-sm" style="max-width: 33%; min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/unknown.png" alt="Adam BOUDARA" class="ml-3 mt-3 rounded-circle" style="width:20%;">
          <h6>Responsable Activité Tourisme</h6>
          <p><small><i>Adam BOUDARA</i></small></p>
          <p>Email : a.boudara@supratourstravel.com</p>
          <p>Tél : 060000000</p>
      </div>
  </div>
  <div class="col-sm" style="max-width: 33%; min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/logo_st.png" class="ml-3 mt-3 rounded-circle" style="width:30%;">
          <h6>Agence de Rabat</h6>
          <p><small><i>Local A5, Gare Rabat Agdal, sis Rue Abderrahmane El Ghafiki</i></small></p>
          <p></p>
          <p>Tél : 0537776509</p>

      </div>
  </div>
  <div class="col-sm" style="max-width: 33%; min-width: 400px;">
      <div class="card card-block" style="background-color:#eeeee4;padding:10px; margin:10px;">
          <img src="/media/img/logo_st.png" class="ml-3 mt-3 rounded-circle" style="width:30%;">
          <h6>Agence de Tanger</h6>
          <p><small><i>Local T13*, Gare ferroviaire de Tanger Ville, sis Boulevard d’Espagne MALABATA</i></small></p>
          <p></p>
          <p>Tél : 0539336550</p>

      </div>
  </div>
</div>
