

<div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>

  <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="media/img/references/01_ONCF.png" alt="ONCF" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/02_Supratours.png" alt="Supratours" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/03_SMTR_CARRE.png" alt="SMTR CARRE" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/04_USCM.png" alt="USCM" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/05_Chambre_representants.png" alt="Chambre des representants" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/06_Ministere_interieur.png" alt="Ministere de l interieur" width="500">
        </div>
        <div class="carousel-item">
          <img src="media/img/references/07_Ministere_reforme_public.png" alt="Ministere reforme public" width="500">
        </div>
    </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
