<br>
<div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel" style="width:100%;">

    <div class="carousel-inner">
        <div class="item active">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.oncf.ma"><img src="media/img/references/01_ONCF.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.supratours.ma/"><img src="media/img/references/02_Supratours.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.carre.ma/"><img src="media/img/references/03_SMTR_CARRE.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.uscm.ma/"><img src="media/img/references/04_USCM.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/05_Chambre_representants.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/06_Ministere_interieur.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/07_Ministere_reforme_public.png" class="img-responsive"></a></div>
        </div>
        <div class="item active">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.oncf.ma"><img src="media/img/references/08_Ministère de jeunesse et sport.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.supratours.ma/"><img src="media/img/references/09_Ministère d_énergie.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.carre.ma/"><img src="media/img/references/10_Ministère d_habitat.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.uscm.ma/"><img src="media/img/references/11_Fédération Hoki.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/12_Ministère d_éducation national.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/13_IAV.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/14_AMD.png" class="img-responsive"></a></div>
        </div>
        <div class="item active">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.oncf.ma"><img src="media/img/references/15_CTM.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.supratours.ma/"><img src="media/img/references/16_SNTL.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.carre.ma/"><img src="media/img/references/17_ANP.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="http://www.uscm.ma/"><img src="media/img/references/18_Portnet.png" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/19_ATW.jpg" class="img-responsive"></a></div>
        </div>
        <div class="item">
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="media/img/references/20_CGULI AFrique.png" class="img-responsive"></a></div>
        </div>
    </div>

    <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

</div>
